<table class="table">
    <thead>
        <tr>
            <th>Выберите подкатегорию</th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DropDownList("SubcategoryId", null, htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                <input type="hidden" id="CompanyId" class="form-control" value="@ViewBag.CompanyId" />
            </td>
            <td>
                <button id="CreateNewSubategory" class="btn btn-primary addNewSubcategory">Add</button>
                <button id="CanselNewSubcategory" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>