<table class="table">
    <thead>
        <tr>
            <th>Введите имя субкатегории</th>
            <th></th>
            @*<select>
                <option value="value">text</option>
            </select>*@
        </tr>      
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" minlength="3" maxlength="256" id="newSubCategoryName" class="form-control" placeholder="Имя субкатегории" />
            </td>
            <td>
                <button id="CreateNewSubCategory" class="btn btn-primary">Create</button>
                <button id="CanselNewSubCat" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>