
@{var myPage = Html.ViewContext.ViewData["Page"].ToString();}
@{var myCountPages = Html.ViewContext.ViewData["CountPages"].ToString();} 
<div class="row">
    <div class="col">
        @Html.ActionLink("Назад", "Index", new { Page = Convert.ToInt32(myPage) - 1 }, new { @class = "btn btn-sm btn-primary " })
    </div>
   
        @for (int i = 1; i <= Convert.ToInt32(myCountPages); i++)
        {
            <div class="col">
                    @Html.ActionLink($"{i }", "Index", new { Page = i }, new { @class = "btn btn-sm btn-primary " })
            </div>
         }
     
    <div class="col">
        @Html.ActionLink("Вперед", "Index", new { Page = Convert.ToInt32(myPage) + 1 }, new { @class = "btn btn-sm btn-primary " })
    </div>
</div>
