<table class="table">
    <thead>
        <tr>
            <th>Выберите файл</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            <form asp-action="ManyFileUpload" id="loadFile" asp-controller="Photo" name="manyfileupload" enctype="multipart/form-data">
                <input type="file" name="files" multiple class="form-control-file btn-sm btn-success" />
                <input type="submit" class="btn btn-primary" value="Save Photo" id="submitFile"/>
            </form>
            </td>
            <td>
                <button id="CanselNewPhoto" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>