@model IEnumerable<RB.DAL.Models.Photos>

@if (Model.Count() <= 0)
{
    
        <h4>Photo Company - not found</h4>
  
}
else
{
        @foreach (var item in Model)
        {
            string photoPath = $"{@ViewBag.Path}{item.FileName}";
            <div class="col-4" data-id="img-@item.PhotoId">

                <img src="@photoPath" height="100" width="100" />
                <br>
                @Html.ActionLink("Delete", "Delete", "Photo", new { id = item.PhotoId }, new { @class = "btn btn-danger delete-photo", data_photoId = item.PhotoId })
            </div>
        }

}