<table class="table">
    <thead>
        <tr>
            <th>Введите имя категории</th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" minlength="3" maxlength="256" id="newCategoryName" class="form-control" placeholder="Имя категории" />
            </td>      
            <td>
                <button id="CreateNewCategory" class="btn btn-primary">Create</button>
                <button id="CanselNewCat" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>