<table class="table">
    <thead>
        <tr>
            <th>FirstName</th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" minlength="2" maxlength="64" id="newFname" class="form-control" placeholder="FirstName" />
            </td>      
            <td>
                <button id="CreateNewEmp" class="btn btn-primary">Create</button>
                <button id="CanselNewEmp" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>