<table class="table">
    <thead>
        <tr>
            <th>Введите название соцсети</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" minlength="3" maxlength="256" id="newSocialNetName" class="form-control" placeholder="название соцсети" />
            </td>
            <td>
                <button id="CreateNewSocialNetName" class="btn btn-primary">Create</button>
                <button id="CanselNewSocialNetName" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>