@model RB.DAL.Models.Cities

<td class="cityName">
    <input type="text" value="@Model.CityName" minlength="3" maxlength="150" id="newCityName" class="form-control" placeholder="название города" />
</td>
<td>
    <button class="btn btn-success" data-id="@Model.CityName" id="citySave">Save</button>
    <button class="btn btn-secondary" id="cityCancel">Cancel</button>
</td>
